*{
    font-family: IBM Plex Mono, monospace;
    text-align: justify;
    background-color: #192029;
    color: rgba(240, 248, 255, 0.616);
}

body{
    display: flex;
    width: 100%;
    margin: 0;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

main{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    margin: 0px;
    padding: 0px

}

nav > .inter > .on{
    display: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav > .inter > .off{
    display:block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav > .inter > ul > li {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}

a{
    text-decoration: none;
}

.firstLetter{
    text-transform: uppercase;
    color: #4169e1;
}

.extension {
    color: #4169e1;
    height: 30px;
    font-size: large;
    border: none;
}

.extension:hover {
    font-size: x-large;
}


.inter{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media  screen and (min-width : 1200px) {

    .extension{
        display: block;
    }
    
}

@media screen and (max-width : 1600px) {

    nav {
        font-size: large;
    }

}

@media screen and (max-width : 900px){

    nav > .inter > .on {
        display: block;
    }

    nav > .inter > .off {
        display: none;
    }

}
