.right{
    margin-left: 25px;
    margin-right: 10%;
}

.third{
    width: 50%;
}

.third > .block_button {
    display: flex;
    flex-wrap: wrap;
}

.bottonMenu{
    height: 100px;
    width: 100px;
}

.One{
    background-image: url();
}
.Two{
    background-image: url();
}
.Tree{
    background-image: url();
}
.Four{
    background-image: url();
}
.Five{
    background-image: url();
}

.information_P{
    list-style: none;
}

.information{
    display: flex;
    flex-direction: column;
}

.information > ul{
    display: flex;
    flex-direction: column;
    list-style:square;
}


.test{
    margin-top: 1000px;
}

.skill{
    display: flex;
    flex-direction: row;
}

.skill > * {
    flex: 0.3 0.4 ;
}
