.right{
    margin-left: 50px;
    margin-right: 20%;
}

.skill * {
    text-align:left;
}

.third{
    height: auto;
}

.third > .block_button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttonMenu{
    height: 150px;
    width: 150px;
    position: relative;
    background-size: contain;
}

.One{
    background-image: url(https://raw.githubusercontent.com/NokeOrgrim/Portfolio/main/image/SAE/gameoflife.png);
}
.Two{
    background-image: url(https://raw.githubusercontent.com/NokeOrgrim/Portfolio/main/image/SAE/depeche.png);
}
.Tree{
    background-image: url(https://raw.githubusercontent.com/NokeOrgrim/Portfolio/main/image/SAE/nutriscore.png);
    background-size: contain;
}
.Four{
    background-image: url(https://raw.githubusercontent.com/NokeOrgrim/Portfolio/main/image/SAE/siteweb.png);
}
.Five{
    background-image: url(https://raw.githubusercontent.com/NokeOrgrim/Portfolio/main/image/SAE/server.png);
}

.information_P{
    list-style: none;
}

.information{
    display: flex;
    flex-direction: column;
}

.information > ul{
    display: flex;
    flex-direction: column;
    list-style:square;
}


.test{
    margin-top: 1000px;
}

.skill{
    display: flex;
    flex-direction: row;
}

.skill > * {
    flex: 0.3 0.4 ;
}

@media screen and (max-width : 900px){
    .right{
        margin-left: 25px;
        margin-right: 10%;
    }
}
